@media(max-width:1440px)
    .contenedor
        margin-left: .10rem
        
    .card 
        width: 15rem
        height: 16rem
    .far
        font-size:10rem
        margin-left: 2rem
        color:black
    .card-img-overlay 
        margin-top: 7.470588rem
    .card-text
        color:black
        margin-left: 9.764706rem
    .card-title
        color:black
        margin-left: 4.5rem
        margin-top: 1rem
    .card-p
        color:black
        margin-left: 3rem
    .badge 
        border-radius: 2.125rem    

@media (max-width: 767px) 
    .buscador
        display: none
 
    
@media(max-width:575px)
    .contenedor
        margin-left: 3.1rem
        
    .card 
        width: 30rem
        height: 25rem
        margin-right: 0
        margin-left: 0
    .far
        font-size:20rem
        margin-left: 2rem
        color:black
    .card-img-overlay 
        margin-top: 7.470588rem
    .card-text
        color:black
        margin-left: 21.764706rem
    .card-title
        color:black
        font-size: 30px
        margin-left: 190px
        margin-top: 1rem
    .card-p
        display: none
    .badge 
        border-radius: 2.125rem 
        font-size: 20px

@media(max-width:531px)
        .sub-menu
            display: none

@media(min-width:768px)
    .menu-buscar
        display: none